
body{
  font-family:arial;
  margin:0;
}
h1{
  color:#AD8900;
}
a{
  color:#000;
}

header{

  background:#241773;
  color:#AD8900;
  padding:15px 15px 0 15px
}
header h1{
  
  margin:0;
  display:inline;

}

nav ul{
  margin: 0;
  display: inline;
}

nav ul li{
    background:#AD8900;
    display: inline-block;
    list-style-type: none;
    padding: 5px 15px;

}
nav ul li:hover{
  background:#999;
}
footer{
  clear:both;
}
table#t01{
background-color:#444;
position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px ;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

}

input[type=submit]{
  background:#AD8900;
  text-transform: uppercase;
  outline: 0;
  width: 100%;
  border: 0;
  padding: 15px;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease; 
  cursor: pointer;
}
input[type=text]{
outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;

}